# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Environments
.env
.venv/
venv/
ENV/
env/

# Data
data/logs/*.log
data/uploads/*.csv
data/json/*.json
data/backup/*.sql


*.db
*.bak
*.zip


# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# PyCharm project settings
*.iml



