# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Environments
.env
.venv/
venv/
ENV/
env/

# Data
data/logs/*.log
data/backup/sql/*
data/uploads/*.csv
data/json/*.json

*.sqlite3
*.db
*.bak
*.json
*.csv
*.xlsx
*.zip


# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# PyCharm project settings
*.iml



