# === Telegram Bot ===
BOT_TOKEN=your_telegram_bot_token_here

# === PostgreSQL ===
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=esp2rus
DB_HOST=db          #❗️В локальном запуске должно быть localhost, а не "db"
DB_PORT=5432

# === Admins ===
ADMIN_IDS=admin_TG_id1,admin_TG_id2