# === Telegram Bot ===
BOT_TOKEN_PROD=your_real_prod_token               # токен боевого бота
BOT_TOKEN_DEV=your_dev_bot_token_optional         # токен тестового бота (по желанию, не используется в проде)

# === PostgreSQL ===
DB_USER=postgres
DB_PASSWORD=your_secure_password
DB_NAME_PROD=esp2rus                              # основная база
DB_NAME_DEV=esp2rus_v2dev                         # тестовая база (новая архитектура)
DB_HOST=db                                        # ⚠️ Docker: "db", локально: "localhost"
DB_PORT=5432

# === Admins ===
ADMIN_IDS=admin_TG_id1,admin_TG_id2

# === Flags ===
ENV_MODE=prod                                     # dev | prod
DEBUG=0                                           # 1 = localhost / 0 = Docker

# === Персонализация / аналитика (дефолты) ===
USE_ANALYTICS_V2=True                             # новый аналитический стек

# === Персонализация (возможность настроить вручную или через settings.py) ===
LEARN_THRESHOLD=3                                 # кол-во правильных ответов до выучивания слова
LEVEL_ACCURACY_THRESHOLD=100                      # точность, необходимая для перехода уровня
LANGUAGE_TARGET=es                                # язык изучения: es | en | de и т.д.
